
body{
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

.had{
  background-image: url('../images/the-flatiron-building.png');
text-align: center;
color: white;

}

h1 {
  font-weight: bold;
  font-size: 70px;

}

.bnav{
  font-size: 18px;
  color: white;

}
h2{
  font-size: 32px;
  font-weight: bold;
  text-align: center;

}
h3{
  font-size: 23px;
  font-weight: bold;

}

p {

  font-size: 21px;
  text-align: center;
}

.processing{
  color: black;
  font-size: 14px;
  text-align: center;
}

.footsie{
  font-size: 16px;
  background-color: dimgray;

}
.p2{
  text-align: left;
  font-size: 16px;
  background-color: dimgray;

}
